<a href="https://colab.research.google.com/github/Nur-ayn/DSI/blob/main/DSI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Science with Pandas**

This colab can be found on my github along with the answer for Question 1 in [this repo](https://github.com/Nur-ayn/DSI)

# Reading in Files

In [20]:
import pandas as pd
from google.colab import drive

pd.set_option('display.max_columns', 500)
drive.mount('/content/gdrive', force_remount=True)

files = ['title.akas.tsv.gz',
         'title.basics.tsv.gz',
         'title.ratings.tsv.gz']

dataframes = []

for file in files:
  df = pd.read_csv(f"/content/gdrive/MyDrive/datasets/{file}", compression='gzip', sep='\t')
  dataframes.append(df)

Mounted at /content/gdrive

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Merging Dataframes

In [21]:
for df in dataframes:
  df.drop_duplicates(inplace=True)

akas, basics, ratings = dataframes[0], dataframes[1], dataframes[2]

In [22]:
pd.set_option('display.max_columns', 20)

big_df_inner = akas.merge(basics, how='inner', left_on='titleId', right_on='tconst') \
               .merge(ratings, how='inner', left_on='titleId', right_on='tconst')
big_df_outer = akas.merge(basics, how='outer', left_on='titleId', right_on='tconst') \
               .merge(ratings, how='outer', left_on='titleId', right_on='tconst')
print(big_df_inner)
print(big_df_outer)

           titleId  ordering                         title region language  \
0        tt0000001         1     Carmencita - spanyol tánc     HU       \N
1        tt0000001         2                    Карменсита     RU       \N
2        tt0000001         3                    Carmencita     US       \N
3        tt0000001         4                    Carmencita     \N       \N
4        tt0000002         1        Le clown et ses chiens     \N       \N
...            ...       ...                           ...    ...      ...
1686542  tt9100068         2               Птичий праздник   SUHH       ru
1686543  tt9100098         1           Малиновка и медведь   SUHH       ru
1686544  tt9100098         2            Malinovka i medved     \N       \N
1686545  tt9100972         1  Kogda Medvezhonok prosnetsya     \N       \N
1686546  tt9100972         2    Когда Медвежонок проснется   SUHH       ru

               types attributes isOriginalTitle   tconst_x titleType  \
0        imdbDisplay         \N               0  tt0000001     short
1                 \N         \N               0  tt0000001     short
2                 \N         \N               0  tt0000001     short
3           original         \N               1  tt0000001     short
4           original         \N               1  tt0000002     short
...              ...        ...             ...        ...       ...
1686542           \N         \N               0  tt9100068     short
1686543           \N         \N               0  tt9100098     short
1686544     original         \N               1  tt9100098     short
1686545     original         \N               1  tt9100972     short
1686546           \N         \N               0  tt9100972     short

                         primaryTitle                 originalTitle  isAdult  \
0                          Carmencita                    Carmencita        0
1                          Carmencita                    Carmencita        0
2                          Carmencita                    Carmencita        0
3                          Carmencita                    Carmencita        0
4              Le clown et ses chiens        Le clown et ses chiens        0
...                               ...                           ...      ...
1686542              Ptichiy prazdnik              Ptichiy prazdnik        0
1686543            Malinovka i medved            Malinovka i medved        0
1686544            Malinovka i medved            Malinovka i medved        0
1686545  Kogda Medvezhonok prosnetsya  Kogda Medvezhonok prosnetsya        0
1686546  Kogda Medvezhonok prosnetsya  Kogda Medvezhonok prosnetsya        0

        startYear endYear runtimeMinutes             genres   tconst_y  \
0            1894      \N              1  Documentary,Short  tt0000001
1            1894      \N              1  Documentary,Short  tt0000001
2            1894      \N              1  Documentary,Short  tt0000001
3            1894      \N              1  Documentary,Short  tt0000001
4            1892      \N              5    Animation,Short  tt0000002
...           ...     ...            ...                ...        ...
1686542      1976      \N              9    Animation,Short  tt9100068
1686543      1983      \N              9    Animation,Short  tt9100098
1686544      1983      \N              9    Animation,Short  tt9100098
1686545      1979      \N             16    Animation,Short  tt9100972
1686546      1979      \N             16    Animation,Short  tt9100972

         averageRating  numVotes
0                  5.8      1422
1                  5.8      1422
2                  5.8      1422
3                  5.8      1422
4                  6.4       168
...                ...       ...
1686542            7.0         5
1686543            7.0         5
1686544            7.0         5
1686545            7.0         5
1686546            7.0         5

[1686547 rows x 20 columns]
           titleId  ordering                      title region language  \
0        tt0000001       1.0  Carmencita - spanyol tánc     HU       \N
1        tt0000001       2.0                 Карменсита     RU       \N
2        tt0000001       3.0                 Carmencita     US       \N
3        tt0000001       4.0                 Carmencita     \N       \N
4        tt0000002       1.0     Le clown et ses chiens     \N       \N
...            ...       ...                        ...    ...      ...
7029493        NaN       NaN                        NaN    NaN      NaN
7029494        NaN       NaN                        NaN    NaN      NaN
7029495        NaN       NaN                        NaN    NaN      NaN
7029496        NaN       NaN                        NaN    NaN      NaN
7029497        NaN       NaN                        NaN    NaN      NaN

               types attributes isOriginalTitle   tconst_x titleType  \
0        imdbDisplay         \N               0  tt0000001     short
1                 \N         \N               0  tt0000001     short
2                 \N         \N               0  tt0000001     short
3           original         \N               1  tt0000001     short
4           original         \N               1  tt0000002     short
...              ...        ...             ...        ...       ...
7029493          NaN        NaN             NaN        NaN       NaN
7029494          NaN        NaN             NaN        NaN       NaN
7029495          NaN        NaN             NaN        NaN       NaN
7029496          NaN        NaN             NaN        NaN       NaN
7029497          NaN        NaN             NaN        NaN       NaN

                   primaryTitle           originalTitle  isAdult startYear  \
0                    Carmencita              Carmencita      0.0      1894
1                    Carmencita              Carmencita      0.0      1894
2                    Carmencita              Carmencita      0.0      1894
3                    Carmencita              Carmencita      0.0      1894
4        Le clown et ses chiens  Le clown et ses chiens      0.0      1892
...                         ...                     ...      ...       ...
7029493                     NaN                     NaN      NaN       NaN
7029494                     NaN                     NaN      NaN       NaN
7029495                     NaN                     NaN      NaN       NaN
7029496                     NaN                     NaN      NaN       NaN
7029497                     NaN                     NaN      NaN       NaN

        endYear runtimeMinutes             genres   tconst_y  averageRating  \
0            \N              1  Documentary,Short  tt0000001            5.8
1            \N              1  Documentary,Short  tt0000001            5.8
2            \N              1  Documentary,Short  tt0000001            5.8
3            \N              1  Documentary,Short  tt0000001            5.8
4            \N              5    Animation,Short  tt0000002            6.4
...         ...            ...                ...        ...            ...
7029493     NaN            NaN                NaN  tt9099102            4.0
7029494     NaN            NaN                NaN  tt9104810            7.0
7029495     NaN            NaN                NaN  tt9106766            7.6
7029496     NaN            NaN                NaN  tt9107292            8.4
7029497     NaN            NaN                NaN  tt9112162            9.9

         numVotes
0          1422.0
1          1422.0
2          1422.0
3          1422.0
4           168.0
...           ...
7029493      14.0
7029494       7.0
7029495       5.0
7029496      10.0
7029497      10.0

[7029498 rows x 20 columns]

An inner merge only retains rows where the column in one table (eg titleId) has a match with another column (eg tconst) in another table. An outer merge will still retain the rows where a match cannot be found between the tables and will fill in any empty columns with a NaN.  Consequently, the outer merge has considerably more rows than the inner merge.

In [4]:
unique_title_types = big_df_inner['titleType'].unique()
num_unique_title_types = big_df_inner['titleType'].nunique()
print(f"The {num_unique_title_types} unique title types are {unique_title_types}")

The 10 unique title types are ['short' 'movie' 'tvMovie' 'tvSeries' 'tvEpisode' 'tvShort' 'tvMiniSeries'
 'tvSpecial' 'video' 'videoGame']

# Filtering Data

In [23]:
df_new = big_df_inner.loc[ ((big_df_inner['language'] == 'en') | (big_df_inner['region'] == 'US')) & (big_df_inner['titleType'] == 'movie') ]
print(df_new.head())

        titleId  ordering                           title region language  \
51    tt0000009         3                      Miss Jerry     US       \N
574   tt0000147         1   The Corbett-Fitzsimmons Fight     US       \N
1446  tt0000630         4                          Hamlet     US       \N
1520  tt0000679         1  The Fairylogue and Radio-Plays     US       \N
1797  tt0000886         2       Hamlet, Prince of Denmark     US       \N

     types attributes isOriginalTitle   tconst_x titleType  \
51      \N         \N               0  tt0000009     movie
574     \N         \N               0  tt0000147     movie
1446    \N         \N               0  tt0000630     movie
1520    \N         \N               0  tt0000679     movie
1797    \N         \N               0  tt0000886     movie

                        primaryTitle                   originalTitle  isAdult  \
51                        Miss Jerry                      Miss Jerry        0
574    The Corbett-Fitzsimmons Fight   The Corbett-Fitzsimmons Fight        0
1446                          Hamlet                          Amleto        0
1520  The Fairylogue and Radio-Plays  The Fairylogue and Radio-Plays        0
1797       Hamlet, Prince of Denmark                          Hamlet        0

     startYear endYear runtimeMinutes                  genres   tconst_y  \
51        1894      \N             45                 Romance  tt0000009
574       1897      \N             20  Documentary,News,Sport  tt0000147
1446      1908      \N             \N                   Drama  tt0000630
1520      1908      \N            120       Adventure,Fantasy  tt0000679
1797      1910      \N             \N                   Drama  tt0000886

      averageRating  numVotes
51              5.5        70
574             5.2       266
1446            3.1        10
1520            5.9        26
1797            5.2        16

In [24]:
 import numpy as np
 
 df_new['log10Votes'] = np.log10(df_new['numVotes'])
 df_new['genres'] = df_new['genres'].str.lower()
 print(df_new)

           titleId  ordering                               title region  \
51       tt0000009         3                          Miss Jerry     US
574      tt0000147         1       The Corbett-Fitzsimmons Fight     US
1446     tt0000630         4                              Hamlet     US
1520     tt0000679         1      The Fairylogue and Radio-Plays     US
1797     tt0000886         2           Hamlet, Prince of Denmark     US
...            ...       ...                                 ...    ...
1686422  tt9020894         4              Temporary Difficulties     US
1686485  tt9056646         3                              Bearer    XWW
1686494  tt9060058         3              The Wind Sculpted Land    XWW
1686520  tt9081472         2         Physicians of Aickarakkonam     IN
1686522  tt9081572         2  What Have We Done to Deserve This?    XWW

        language        types             attributes isOriginalTitle  \
51            \N           \N                     \N               0
574           \N           \N                     \N               0
1446          \N           \N                     \N               0
1520          \N           \N                     \N               0
1797          \N           \N                     \N               0
...          ...          ...                    ...             ...
1686422       \N  imdbDisplay                     \N               0
1686485       en  imdbDisplay                     \N               0
1686494       en  alternative                     \N               0
1686520       en           \N  literal English title               0
1686522       en  imdbDisplay                     \N               0

          tconst_x titleType  ...                     originalTitle isAdult  \
51       tt0000009     movie  ...                        Miss Jerry       0
574      tt0000147     movie  ...     The Corbett-Fitzsimmons Fight       0
1446     tt0000630     movie  ...                            Amleto       0
1520     tt0000679     movie  ...    The Fairylogue and Radio-Plays       0
1797     tt0000886     movie  ...                            Hamlet       0
...            ...       ...  ...                               ...     ...
1686422  tt9020894     movie  ...               Vremennye trudnosti       0
1686485  tt9056646     movie  ...                   Dar Vajhe Hamel       0
1686494  tt9060058     movie  ...                Tuulte tahutud maa       0
1686520  tt9081472     movie  ...  Aickarakkonathe Bhishaguaranmaar       0
1686522  tt9081572     movie  ...     Womit haben wir das verdient?       0

         startYear endYear runtimeMinutes                  genres   tconst_y  \
51            1894      \N             45                 romance  tt0000009
574           1897      \N             20  documentary,news,sport  tt0000147
1446          1908      \N             \N                   drama  tt0000630
1520          1908      \N            120       adventure,fantasy  tt0000679
1797          1910      \N             \N                   drama  tt0000886
...            ...     ...            ...                     ...        ...
1686422       2018      \N             86                   drama  tt9020894
1686485       2018      \N             90                   drama  tt9056646
1686494       2018      \N             63             documentary  tt9060058
1686520       2018      \N            144                   drama  tt9081472
1686522       2018      \N             91                  comedy  tt9081572

        averageRating  numVotes  log10Votes
51                5.5        70    1.845098
574               5.2       266    2.424882
1446              3.1        10    1.000000
1520              5.9        26    1.414973
1797              5.2        16    1.204120
...               ...       ...         ...
1686422           4.5        20    1.301030
1686485           7.0         9    0.954243
1686494           8.1        17    1.230449
1686520           9.1       213    2.328380
1686522           6.6         8    0.903090

[160034 rows x 21 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

# Grouping Data

In [27]:
import numpy as np

top10_by_votes = df_new.groupby('genres')['log10Votes'].mean().nlargest(10)
print(f"The top 10 genres by votes are \n {top10_by_votes}")
top10_by_rating = df_new.groupby('genres')['averageRating'].mean().nlargest(10)
print(f"The top 10 genres by rating are \n {top10_by_rating}")

array_genres = df_new['genres'].apply(lambda x: x.split(','))
df_new = df_new.reset_index()
genres_df = df_new.log10Votes.repeat(array_genres.str.len()).groupby(np.concatenate(array_genres)).mean()
print(genres_df)

\n             1.178212
action         2.644901
adult          1.357946
adventure      2.775299
animation      2.878476
biography      2.561052
comedy         2.452284
crime          2.615538
documentary    1.662037
drama          2.350774
family         2.457019
fantasy        2.797974
film-noir      2.879454
game-show      1.914555
history        2.454966
horror         2.598428
music          2.252679
musical        2.200939
mystery        2.704150
news           1.569988
reality-tv     1.503805
romance        2.522809
sci-fi         2.926363
short          1.204243
sport          2.445620
talk-show      0.985104
thriller       2.699707
war            2.447716
western        2.176766
Name: log10Votes, dtype: float64

The first method of grouping looks at combinations of genres instead of each genre individually.